<div id="<%= comment.id %>" class="comment">
  <span class="comment-body"><%= comment.body %></span>
  <span class="timestamp">Submitted <%= time_ago_in_words(comment.created_at) %> ago by <%= comment.user.username if !comment.user.nil? %></span>
  <span class='comment-voting'>
    <%= link_to upvote_post_comment_path(@post, comment), method: :put, class: 'upvote' do %>
      <span class='glyphicon glyphicon-thumbs-up'></span> Upvote <%= comment.get_upvotes.size %>
    <% end %> |
    <%= link_to downvote_post_comment_path(@post, comment), method: :put, class: 'downvote' do %>
      <span class='glyphicon glyphicon-thumbs-down'></span> Downvote <%= comment.get_downvotes.size %>
    <% end %>
  </span>
  <hr/>
</div>