<section class="post-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="post">
          <span class="content">
            <%= link_to @post.title, @post.url %>
          </span>
          <span class="timestamp">Submitted <%= time_ago_in_words(@post.created_at) %> ago by <%= @post.user.username %></span>
          <span class='comments'>
            <%= link_to pluralize(@post.comments.count, 'comment'), post_path(@post) %> |
            <%= link_to '#', class: 'upvote' do %>
              <span class='glyphicon glyphicon-thumbs-up'></span> Upvote
            <% end %> |
            <%= link_to '#', class: 'downvote' do %>
              <span class='glyphicon glyphicon-thumbs-down'></span> Downvote
            <% end %>
          </span>
          <hr/>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="comments-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Comments</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <!-- ADD COMMENTS HERE -->
      </div>
    </div>
  </div>
</section>